profiles {

    test1 {
        process {
            cpus = 2 
            queue = 'std'

            withLabel: small {
                cpus = 1 
                queue = 'small'
            }

            withLabel: big {
                cpus = 8 
                queue = 'big'
            }
        }
    }

    test2 {
        process {
            withLabel: small {
                cpus = 1 
                queue = 'small'
            }

            withLabel: '!small' {
                cpus = 8 
                queue = 'big'
            }
        }
    }

    test3 {
        process {
            withLabel: /.*/ {
                cpus = 5 
                queue = 'all'
            }

            withName: gamma {
                cpus = 6 
                queue = 'foo'
            } 
        }
    }
}